<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>To Do Django App</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <section class="header justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>TODO</h1>
                </div>
                <div class="col">
                    <ul class="float-right">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'addtask' user.id%}">Add task</a></li>
                        <li>Hello,{{user.first_name}}</li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        <li><a href="{% url 'register' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>
    </section>
    {% block content %}


    {% endblock content %}


        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>