{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="update-task">
<form action="" method="POST">
    {% csrf_token %} 
    <div class="form-group">
        <input type="text" placeholder="{{task.task}}" name="task" class="form-control">
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select name="complete" id="status" class="from-control">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
    </div>
    <button type="submit">add</button>
</form>
</section>
{% endblock content %}